.loader-bg{
  background-color: white;
  height: 100%;
  width: 100%;
  position:relative;
  top: 0;
  left: 0;
  z-index: -1;
}
.loader {
  	border: 16px solid #f3f3f3;
  	border-radius: 50%;
  	border-top: 16px solid #3498db;
  	width: 120px;
  	height: 120px;
  	-webkit-animation: spin 2s linear infinite;
  	animation: spin 2s linear infinite;
  	left: 45%;
	 top: 45%;
	   position: fixed;
}

@-webkit-keyframes spin {
  	0% { -webkit-transform: rotate(0deg); }
  	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  	0% { transform: rotate(0deg); }
  	100% { transform: rotate(360deg); }
}