/* start fonts */
@font-face {
	font-family: Ubuntu;
	src: url('../fonts/ubuntu/ubuntu-l.ttf');
}
/* end fonts */

/* start html */
body {
	font-family: Ubuntu;
	background: #e2e2e2; 
}
/*a{
	color: white;
}
a:hover{
	color: white;
}*/
select{
	border-radius: 5px;
}
/* end html*/

/* start bootstrap custom */
.pop-modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.pop-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    min-width: 600px;
    max-width: 70%;
    border-radius: 10px;
}

/* The Close Button */
.pop-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.pop-close:hover,
.pop-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.pop-modal-p1{
	font-weight: bold;
}
.pop-modal-p2{
	color: grey;
}
.pop-modal-caption{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 40px;
}
.pop-modal-p3{
	font-size: 18px;
	font-weight: bold;
	margin-top: 30px;
	color: #f9b435;
}
.pop-modal-button{
	background-color: #f7b432;
	color: white;
	padding: 5px 40px;
	margin-top: 30px;
	border:0;
}
.logo{
	margin-right: 40px;
    margin-top: 10px;
	/*-webkit-filter: drop-shadow(0 0 3px rgba(0,0,0,.3));
  	-moz-filter: drop-shadow(0 0 3px rgba(0,0,0,.3));
  	-ms-filter: drop-shadow(0 0 3px rgba(0,0,0,.3));
  	-o-filter: drop-shadow(0 0 3px rgba(0,0,0,.3));
  	filter: drop-shadow(0 0 3px rgba(0,0,0,.3));*/
}
.logo-nohome{
	width: 120px;
    margin-top: -10px;
}
.carousel{
	min-height: 200px;
}
.inline-block{
	display: inline-block;
}
.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}
.navbar{
	margin-bottom: 0;
    border-radius: 0;
    background: white;
}
.nav>li>a{
	color: black;
}
.home-nav>div>ul>li>a{
	color: white;
}
.home-nav>div>ul>li>a>.caret{
	border-top: 6px solid #fff;
}
.nav>li>a:hover, .nav>li>a:visited,  .nav>li.active {
	background: #f2b830;
}
input[type="radio"] {
	width: 25px;
	height: 25px;
	margin-left: -35px !important;
	top: -3px;
}
@media (min-width: 768px){
	.navbar-nav>li>a {
	    padding-top: 23px;
	}
}
.checkbox label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}
.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}
.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
	opacity: 0;
	margin-left: -1px;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
  background: yellow;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}
input[type="checkbox"]:checked + span{
  background: #f1b930;
  color: white;
  border: 1px solid #f1b930;
}
.caret{
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #555555;
}
.border-radius{
	border-radius: 5px;
}
.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 15px;
    height: 15px;
    padding: 1px;
    background: #9e9ea0;
    /*border: 2px solid #666;*/
    color: #fff !important;
    text-align: center;
    font: 12px Arial, sans-serif;
    margin-right: 5px;
}
.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor:pointer;

}
.layer:hover {
    background-color: rgba(167, 100, 255, 0.25);
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	border: 0;
	background-color: #f2b830;
}
.navbar-nav>li>.dropdown-menu{
	border: 0;
	border-radius: 0;
}
.jcarousel-control-next{
	right: -40px;
}
.jcarousel-control-prev {
    left: -40px;
}
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn{
	font-size: 15px;
}
/* end bootstrap custom */

/* start nav home */

.home-nav {
    position: absolute;
    width: 100%;
    top: 0;
    background: transparent;
}
.home-nav>div>.nav>li>a:hover, .home-nav>div>.nav>li>a:visited {
	color: white;
}
.header-login{
	min-width: 300px;
	border: 0;
	padding: 10px;
}
#SignupDD{
	display: none;
}
.header-signup{
	min-width: 400px;
	border: 0;
	padding: 10px;
}
.header-signup input{
	margin-bottom: 20px;
}
.header-login > p, .header-signup > p{
	font-size: 17px;
	font-weight: bold;
	color: #666666;
}
.header-signup > p > a{
	font-size: 20px;
	color: black;
}
.header-signup > p > a:hover{
	text-decoration: none;
}
.header-login > hr, .header-signup > hr {
	margin-top: 10px;
    margin-bottom: 10px;
	border-top: 1px solid #cccccc;
}
.header-login > .checkbox > label{
	padding-left: 0;
	color: grey;
}
.secondHr{
	margin-top: 20px !important;
}
.header-login > p:nth-child(1){
	font-size: 20px;
	color: #666666;
}
.HLOr{
	border-radius: 50%;
    behavior: url(PIE.htc);
    width: 25px;
    height: 25px;
    padding: 2px;
    background: #fff;
    /* border: 2px solid #666; */
    color: #000 !important;
    text-align: center;
    margin: -22px 10px 20px 10px;
    align-content: center;
    display: inline-block;
    font-size: 12px;
    border: 1px solid grey;
}
.nav-forgot{
	margin-left: 41px;
}
/* end nav home */


/* start footer */

.footerSection{
	width: 100%;
	background-color: #fafafa;
	color: #6f6f6f;
	margin-left: 0;
	padding: 3% 10%;
}
.footerSection a{
	color: #6f6f6f;
}
.footerSection a:hover{
	text-decoration: none;
	font-weight: bold;
}
.FSOpt{
	margin-top: 0;
}
.footerP1{
	font-size: 26px;
    font-weight: bolder;
    line-height: 0;
}
.footerP3{
	font-weight: bold;
}
.footerP4{
	margin-top: 30px;
}
.footerP4 > span{
	margin-right: 25px;
}
.menu-col-1{
	width: 22.666667%;
}
.menu-col-2{
	width: 10.666667%;
}

/* end footer */

/* start flight */
.homeSection1{
	min-height: 100vh;
	width: 100%;
	background-image: url("../images/home-bg.jpg");
	background-size: cover;
	text-align: center;
	padding: 10%;
	color: white;
}
.HS1P{
	margin-top: 5%;
	line-height: 1;
}
.HS1P1{
    font-size: 35px;
    font-weight: bold;
}
.HS1P2{
	font-size: 18px;
}
.HS1F{
	background: rgba(0, 28, 75, 0.78);
    border-radius: 10px;
    margin-top: 4%;
    width: 100%;
    left: 11%;
    /*position: absolute;*/
	text-align: left;
	padding: 30px;
	font-size: 17px;
}
.HS1F > .radio-inline {
	padding-left: 35px;
}
.HS1F > center > button {
    font-weight: bold;
    margin-top: 40px;
    padding: 15px 55px;
}
.HS1FI {
	margin-top: 20px;
}
.HS1FI label {
	font-weight: 100;
	font-size: 15px;
}
.HS1FI > .col-sm-7{
	width: 53.333333%;
	padding-right: 5px;
}
.HS1FI > .col-sm-3{
	padding-left: 5px;
	padding-right: 5px;
	width: 24.3333%;
}
.HS1FI > .col-sm-2{
	padding-left: 5px;
	width: 22.3333%;
}
.HS1FI > div > .input-group, .HS1FI > div > .form-group {
	width: 100%;
}
.HS1FI > div > .input-group > #depart {
	border-radius: 5px 0 0 5px;
}
.HS1FI > div > .input-group > #person {
	border-radius: 5px 0 0 5px;
}
.HS1FI > div > .input-group > #person::before{
	position: absolute;
	content: " \2193";
	top: 0px;
	right: -8px;
	height: 20px;
	width: 20px;
}

.HS1FI > div > .input-group-lg > .form-control {
	height: 50px;
}

/* end flight */

/* start result */
.resultSearch{
	background: #fafafa;
}
.resultSearch > .container-fluid{
	padding-left: 9%;
	padding-right: 9%;
}
.resultSearch .form-group{
	width: 85%;
}
.resultSearch button{
	background: #f2b830;
	width: 14%;
	border: 1px solid #f2b830;

}
.resultSection{
	background: #e2e2e2;
	padding: 2% 10%;
	width: 100%;
	margin: 0;
}
.resultSection .fa-star{
	color: #fecb00;
	font-size: 19px;
}
.RSCol1 {
	background: white;
	border: 1px solid #959595;
	border-radius: 5px;
	padding: 20px 15px;
	margin-bottom: 20px;
}
.RSCol1Caption{
	font-weight: bolder;
	font-size: 16px;
}
.RSCol1 .checkbox label {
	padding-left: 10px;
}
.RSCol1 > hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #a1a1a1;
}
.slider-selection {
	background: #f1b930;
}
.slider-handle{
	background: white;
	box-shadow: 1px 1px 4px #888888;
}
.slider.slider-horizontal{
	width: 190px;
}
.slider.slider-horizontal .slider-track{
	height: 6px;
	margin-top: -3px;
}
.RSCol1RangeDiv{
	margin-left: 5px;
}
.RSCol1CaptionSub{
	font-weight: 15px;
	font-weight: bold;
}
.RSCol1PriceRange{
	width: 100%;
    border: 1px solid #959595;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.RSCol2{
	/*width: 78%;*/
}

.RSCol2Tab{
	/*display: inline-block;*/
}
.RSCol2Tab1, .RSCol2Tab2, .RSCol2Tab3{
	background: white;
	width: 32.5%;
	padding: 12px;
    display: inline-block;
    line-height: 1;
}
.RSCol2Tab1{
	border-radius: 10px 0 0 10px;
}
.RSCol2Tab3{
	border-radius: 0 10px 10px 0;
}
.RSCol2Tab > div > p {
	margin: 0;
}
.RSCol2Tab > div:hover {
	background: #3a92ff;
	color: white;
	cursor:pointer;
}
.RSColTabPrice{
	font-size: 12px;
	margin-top: 10px !important;
	font-weight: 500;
	display: inline-block;
}
.RSColTabHour{
	font-size: 12px;
	margin-top: 10px !important;
	font-weight: 500;
	display: inline-block;
	float: right;
	color: #949494;
}
.RSCol2Caption{
	font-size: 21px;
	font-weight: 500;
	line-height: 1;
}
.RSCol2Result{
	border-radius: 10px;
	box-shadow: 0px 2px 4px #848484;
	padding: 0;
	background: #f8f8f8;
	margin: 15px;
}
.RSCol2Result > div{
	display: inline-block;
	vertical-align: middle;
}
.RSCol2Caret{
	background: #f8f8f8;
	padding: 5px;
	width: 3%
}
.RSCol2Flight{
	background: white;
	padding: 60px 20px;
	width: 66%;
}
.RSCol2Flight > img {
	display: inline-block;
	width: 70px;
}
.RSCol2Departure{
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	margin-left: 10px;
}
.RSCol2DepartureStartTime{
	font-size: 30px;
    font-weight: 500;
}
.RSCol2DepartureStartDate, .RSCol2DepartureStartPlace{
	color: #797979;
    font-size: 12px;
    font-weight: 500;
}
.RSCol2Departure > p, .RSCol2Arrival > p {
	line-height: 1;
	margin: 0 0 2px;

}
.RSCol2Arrival{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.RSCol2Line{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.RSCol2Line > hr {
	border: 0;
    border-top: 1px solid #959595;
    display: inline-block;
	width: 135px;
	margin-top: -1px;
    margin-bottom: 0;
    vertical-align: middle;
}
.RSCol2DepartureSpan {
	font-size: 20px;
    font-weight: 500;
    color: #959595;
}
.RSCol2Price{
	width: 30%;
	text-align: center;
    vertical-align: middle;
    line-height: 1;
}
.RSCol2PriceText{
	font-size: 28px;
}
.RSCol2PriceDetail{
	color: #848484;
    font-size: 12px;
    font-weight: 500;
}
.RSCol2PriceButton{
	font-size: 25px;
    color: white;
    font-weight: 700;
    padding: 3px 40px;
    border-radius: 10px;
    background: #feb500;
}
.RSCol2PriceButton:hover{
	color: white;
	background: #ffc534;
}
.RSCol2Collapse{
	/*margin-top: 10px;*/
    background: #f8f8f8;
/*    padding: 20px;*/
	border: 1px solid #959595;
    border-radius: 5px;
    margin-top: 20px;
}
.RSCol2Collapse2{
	margin: 10px;
	padding: 10px;
}
.RSCol2Collapse2 > hr {
	border-top: 1px solid #d7d7d7;
}
.RSCol2Collapse2 > div {
	padding: 0;
	margin-top: 0;
}
.RSCol2Collapse2 > .row {
	font-size: 12px;
    font-weight: 500;
}

.RSCol2Collapse2 > .row > .col-xs-5{
	border-right: 1px solid #d7d7d7;
}
.RSCol2Collapse2 > .row > .col-xs-8{
	height: 150px;
	min-width: 312px;
}
.RSCol2Collapse2 > .row > .col-xs-8 > div{
	display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.RSCol2CollapseFlightTime{
	font-size: 27px;
}
.RSCol2CollapseFlightTime > p {
	margin: 0;
}
.RSCol2CollapseFlightTimeP2{
	position: absolute;
	bottom: 0;
}
.RSCol2DepartureSpanFlightTime{
	position: absolute;
	bottom: 3px;

}
.RSCol2CollapsePoint > p {
	margin: 0;
	line-height: 0;
    margin: 17px 5px;
}
.RSCol2CollapsePointLine {
	width: 3px;
    height: 85px;
    margin-left: 10px;
    background: #848484;
}
.RSCol2CollapseFlightDestination {
	
}
.RSCol2CollapseFlightDestination > p{
	margin: 18px 0;
    line-height: 0;
    font-size: 13px;
    font-weight: 600;
}
.RSCol2CollapseFlightDestinationDep{
	position: absolute;
	bottom: 0;
}
.RSCol2CollapseFlightHour{
	position: absolute;
    top: 45%;
    color: #b8b8b8;
    font-size: 13px;
    font-style: italic;
}
.RSCol2Collapse2 > .row > .col-xs-4{
	vertical-align: middle;
	height: 150px;
}
.RSCol2Collapse2 > .row > .col-xs-4 > img {
	width: 30px;
	position: absolute;
    top: 45%;
}
.RSCol2CollapseFlightInformation{
	line-height: 1;
    margin-top: 10px;
}
.RSCol2CollapseFlightInformation > p:nth-child(1){
	font-size: 13px;
    font-weight: bold;
}
.RSCol2CollapseFlightInformation > p:nth-child(2) > span{
	color: #9a9a9a;
}
.RSColImgLeft{
	width: 70px;
	margin: 15px 0;
}
.RSColLeftPrice{
	font-size: 30px;
	font-weight: bold;
	color: #f1b72f;
}
.RSCol1ChangeDeparture{
	background-color: #f4f4f4;
	padding: 10px;
	text-align: center;
	color: #f1b72f;
	border: 0;
	margin-top: 30px;
	width: 100%;
	border-radius: 5px;
}
.RSCol1ChangeDeparture:hover{
	background-color: #bbbbbb;
	color: white;
}
/* end result */

/* start flight booking */
.FBookingSection{

}
.FBSBreadcrumb{
	background: #fafafa;
	padding: 20px 10%;
}
.FBSBreadcrumb > div {
	display: inline-block;
	color: #9ea09d;
	vertical-align: middle;
}
.FBSBreadcrumb > p {
	font-weight: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
.FBSBreadcrumbLine{
	width: 15px;
	border-top: 2px solid #dedede;
	margin: 0 5px;
}
.FBInformation{
	margin: 20px 10%;
	padding: 20px 20px;
	background: white;
	border-radius: 5px;
}
.FBILeft{
	border: 2px solid #ededed;
	border-radius: 5px;
	border-left: 2px solid #f8bc4c;
	padding: 20px 30px;
	margin: 25px 0px;

}
.FBILSpan{
	color: #f6af2f;
}
.FBILeft > div {
	display: inline-block;
	margin-right: 20px;
	vertical-align: text-top;
}
.FBILeft > div > span {
	font-size: 25px;
}
.FBILeft > div > p:nth-child(1){
	color: #6d6e72;
    font-weight: bolder;
}
.FBILInput1{
	width: 100%;
}
.FBILInput2{
	width: 49.7%;
    margin-right: 0 !important;
    /*float: right;*/
    /*margin-top: 2px;*/
}
.FBILInput3{
	width: 16%;
    margin-right: 0 !important;
}
.FBILInput4{
	width: 32%;
    margin-right: 0 !important;
}
.FBILIFoot{
	font-size: 12px;
    color: #cac8cb;
}
.FBILISubmit{
	width: 100%;
}
.FBILISubmit > button{
	float: right;
	background: #f8b533;
	border: 0;
	font-weight: bolder;
	padding: 10px 50px;
}

.FBIRight{
	width: 100%;
	border:1px solid #ededed;
	border-radius: 5px;
	margin-bottom: 15px;
}
.FBIRHead{
	background: #e5e9ec;
	padding: 30px;
}
.FBIRHead > p:nth-child(1){
	font-size: 17px;
	font-weight: bolder;
}
.FBIRHead > p:nth-child(2){
	font-size: 16px;
}
.FBIRBody{
	padding: 30px;
}
.FBIRBody > div > img{
	width: 100px;
}
.FBIRBody > div > p{
	line-height: 1;
	margin: 0 0 5px;
}
.FBIRBody > div > p:nth-child(1){
	font-weight: bold;
}
.FBIRBPoint{
	height: 200px;
	margin-top: 30px;
}
.FBIRBPoint > p{
	font-size: 12px;
	font-weight: bolder;
	color: #f7b431;
}
.FBIRBPoint > p:nth-child(2){
	position: absolute;
	bottom: 0;
}
.FBIRBPointLine{
	width: 2px;
    height: 120px;
    margin-left: 3px;
    background: #bfbfbf;
}
.FBRIBPBottom{
	position: absolute;
	bottom: 20px;
}
.FBIRBPoint > div > p:nth-child(1){
	font-size: 18px;
	font-weight: bolder;
	margin-bottom: 0;
}
.FBIRBPoint > div > p:nth-child(2){
	font-size: 12px;
	color: #979694;
}
.col-xs-7.FBIRBPoint{
	width: 55.333333%;
}
.FBRIBPBottom2{
	position: absolute;
	bottom: -4px;
}
.FBReview{
	margin: 20px 10%;
	padding: 20px 20px;
	background: white;
	border-radius: 5px;
}
.FBRHead{
	border: 2px solid #ededed;
	border-radius: 5px;
	border-left: 2px solid #419300;
	padding: 20px 30px;
	margin: 25px 0px;

}
.FBRLeft{
	border: 2px solid #ededed;
	border-radius: 5px;
	border-left: 2px solid #f8bc4c;
	padding: 20px 30px;
	margin: 25px 0px;

}
.FBRLHead > p:nth-child(1){
	font-size: 17px;
	font-weight: bolder;
}
.FBRLHead > p:nth-child(2){
	font-size: 16px;
}
.FBRBPBottom{
	position: absolute;
	bottom: 0;
}
.FBRBPBottom2{
	position: absolute;
	bottom: 0;
}
.FBRLHead > div > .col-sm-5 > img {
	width: 100px;
}

.FBRLHeadP1 {
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 0;
}
.FBRLHeadP2 {
	font-size: 13px;
	margin-top: 0;
}
.FBRParagraph{
	font-size: 13px;
	margin: 0;
}
.FBRTextRight > .col-xs-4{
	text-align: right;
}
.FBRTextRight > div {
	margin-bottom: 5px;
}
.FBRLeftTotal{
	border: 2px solid #ededed;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 20px 0px;
    background: #f4f4f4;
    margin-top: 0;
    margin-top: -27px;
	font-size: 20px;
}
.FBRRight{
	border: 2px solid #ededed;
	border-radius: 5px;
	border-left: 2px solid #f8bc4c;
	padding: 10px 15px;
	margin: 70px 0px;

}
.FBRRightBottom{
	border: 2px solid #ededed;
	border-radius: 5px;
	padding: 20px 30px;
	margin: 0;

}
.FBRRightBottom > h3{
	margin-top: 0;
}
.FBRRightBottom > button{
	width: 100%;
}
.FBRRightBottom > p{
	margin: 30px 0px;
}
/* end flight booking */

/* start trip planner */

.TPSection1{
	min-height: 100vh;
	width: 100%;
	background-image: url("../images/home-bg.jpg");
	background-size: cover;
	text-align: center;
	padding: 10%;
	color: white;

}

.TPS1List{
	border-radius: 50%;
    behavior: url(PIE.htc);
    width: 120px;
    height: 120px;
    padding: 35px 18px;
    background: rgba(43, 44, 48, 0.46);
    /* border: 2px solid #666; */
    color: #fff !important;
    text-align: center;
    margin: 40px 10px;
    align-content: center;
    display: inline-block;
    font-size: 50px;
}
.TPS1List > p {
	font-size: 17px;
    margin-top: 50px;
    white-space: nowrap;
	text-shadow: 0px 0px 2px #000;
}
#tripPlannerSlide{

}
#tripPlannerSlide > a.left{
	display: none;
}
#tripPlannerSlide h1{
	margin-bottom: 5%;
	margin-top: 7%;
}
#tripPlannerSlide .col-xs-2{
	text-shadow: 0 0px 4px black;
}
#tripPlannerSlide .form-control-feedback{
	color: #8f8f8f;
}
#tripPlannerSlide .has-feedback{
	margin: 0px 10px;
}
#tripPlannerSlide .has-feedback input, #tripPlannerSlide .has-feedback select{
	box-shadow: none;
	border: 0;
}
#tripPlannerSlide .has-feedback .date{
	width: 140px;
}
#tripPlannerSlide .has-feedback .date:nth-child(2){
	width: 140px;
}
.TPS2Label {
	font-size: 17px;
}
.TPS2Label2 {
	margin-left: 30px;
}
.TPS2Select {
	margin: 0 !important;
}
.TPS2Select > select{
	padding-left: 35px;
	padding-right: 0 !important;
	width: 70px;
}
.TPS2Select.t2{
	left: -4px;
    border-left: 1px solid #c3c3c3;
}
.TPS2Select.t3{
	left: -7px;
    border-left: 1px solid #c3c3c3;
}
.TPS2Select.t1 > select{
	border-radius: 6px 0px 0px 6px;
}
.TPS2Select.t2 > select{
	border-radius: 0;
}
.TPS2Select.t3 > select{
	border-radius: 0px 6px 6px 0px;
}
.TPS2Flight{
	margin-top: 50px;

}
.TPS2FLocation{
	font-size: 17px;
	font-weight: 100;
	text-decoration: underline;
	text-decoration-style: dotted;
	margin-left: 40px;
	text-shadow: 0px 0px 3px black;
}
.has-feedback-custom{
	left: 0;
}
.TPS1SlideButton {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 90px;
    height: 90px;
    background: #9e9ea0 !important;
	top: 200px;
}
.TPS1Slide1Input{
	padding: 10px;
	font-size: 30px;
	font-size: bold;
	border: 0;
	border-radius: 10px;
	color: #878787;
	text-align: center;
	width: 200px;
}
.TPS1Check{
	display: inline-block;
	margin: 20px 5px;
}
.TPS1Check label input[type=checkbox] {
    display: none !important;
}
.TPS1Check input + span {
	background-color:#fff;
    color: black;
    padding: 5px 10px;
    border: 0;
    font-weight: 100;
	cursor: pointer;
}
.TPS1Check input:checked + span {
    background-color:#f2b830;
    color:#fff;
    border: 0;
}
#tripPlannerSlide .row{
	margin-top: 30px;
}
#sliderTripPlanner{
	width: 100%;
}
#sliderTripPlanner .slider-track{
	height: 10px;
}
#sliderTripPlanner .slider-selection {
	background: #006cff;
}
#sliderTripPlanner .slider-track-high{
	width: #e7e7e7;
}
.TPS1SlideButton:hover{
	background: rgb(201, 169, 86) !important;
}
.TPS1SlideButton > .glyphicon-chevron-right{
	top: 40px !important;
    left: 29px !important;
}
.TPS1SlideButton > .glyphicon-search{
	top: 28px !important;
    left: 3px !important;
    font-size: 35px;
}
.TPS1SlideButton > .glyphicon-chevron-left{
	top: 40px !important;
    left: 39px !important;
}
.TPS1LForce{
	margin-left: -38%;
}
#TPSdata1{
	display: none;
}
.TPSection1 > button{
	font-weight: bold;
    margin-top: 7%;
    padding: 15px 55px;
}
.TPSection2, .TPSection4{
	background: white;
	padding: 5% 10%;
	text-align: center;
}
.TPSection2 > h2, .TPSection3 > h2, .TPSection4 > h2{
	color: #686868;
	margin-bottom: 7%;
}
.TPSection3{
	background: #fafafa;
	padding: 5% 10%;
	text-align: center;
}
.TPS2Product, .TPS3Product {
    background-size: cover;
    width: 100%;
    min-height: 200px;
	border-radius: 10px;
	position: relative;
}
.TPS3Product{
	border-radius: 0;
}
.TPS2Product > p, .TPS3Product > p{
	display: inline-block;
    bottom: 0;
    position: absolute;
    color: white;
}
.TPS2Product > p:nth-child(1), .TPS3Product > p:nth-child(1){
	left: 8%;
}
.TPS2Product > p:nth-child(2), .TPS3Product > p:nth-child(2){
	right: 8%;
}
.TPSection2 > div > .col-sm-4, .TPSection3 > div > .col-sm-3{
	margin-bottom: 5%;
}
.TPSection2 > div > div > p:nth-child(2){
	color: #696969;
	position: absolute;
	bottom: 0;
	bottom: -18%;
    left: 11%;
}
.TPSection2 > div > div > p:nth-child(3){
	color: #f0b82f;
	position: absolute;
	bottom: -18%;
    right: 11%;
}
.TPSection2 > center > button, .TPSection3 > center > button{
	background: #989898;
	color: white;
	padding: 15px 40px;
    border-radius: 15px;
    border: 0;
}
.TPSection2 > center > button:hover, .TPSection3 > center > button:hover{
	background: #d2d2d2;
	color: white;
}
.TPSection4 > center > div{
	border-radius: 50%;
    behavior: url(PIE.htc);
    width: 120px;
    height: 120px;
    padding: 25px;
    background: #989898;
    /* border: 2px solid #666; */
    color: #fff !important;
    text-align: center;
    margin: 0 10px 20px 10px;
    align-content: center;
    display: inline-block;
    font-size: 90px;
}

/* end trip Planner */

/* start trip planner result */
.TPRSection{

}
.TPRHead{
	background: #fafafa;
	padding: 20px 10%;
	margin-right: 0;
    margin-left: 0;
}
.TPRHTime{
	font-weight: bolder;
    margin-left: 15px;
}
.TPRHead > .col-xs-4 > div > select{
	background: #b1b1b1;
	border: 0;
	margin-left: 10px;
}
.TPRSection2{
	background: #e2e2e2;
    padding: 2% 10%;
    width: 100%;
    margin: 0;
}
.TPRS2Item{
	background: white;
	border-radius: 10px;
	color: #6a6a6a;
	margin-bottom: 40px;
}
.TPRS2Item > .col-sm-5{
	padding: 0;
}
.TPRS2Item > .col-sm-5 > img{
	height: 300px;
    width: 100%;
    object-fit: cover;	
    border-radius: 10px 0 0 0;
}
.TPRS2ICaption{
	font-size: 20px !important;
}
.TPRS2Item > .col-sm-7 > div{
	margin-top: 15px;
	padding: 5%;
}
.TPRS2Item > .col-sm-7 > .col-xs-3, .TPRS2Item > .col-sm-7 > .col-xs-5{
	border-right: 1px solid #b1b1b1;
	height: 250px;
}
.TPRS2Item > .col-sm-7 > .col-xs-3 > p{
	margin: 0 0 5px 0;
}
.TPRS2Item > .col-sm-7 > .col-xs-3 > p.TPRS2ICaption{
	margin-bottom: 20px;
}
.TPRS2Item > .col-sm-7 > .col-xs-5 > p, .TPRS2Item > .col-sm-7 > .col-xs-5 > span, .TPRS2Item > .col-sm-7 > .col-xs-4 > p, .TPRS2Item > .col-sm-7 > .col-xs-4 > span{
	font-size: 12px;
}
.TPRS2Item > .col-sm-7 > .col-xs-5 > p:nth-child(3), .TPRS2Item > .col-sm-7 > .col-xs-4 > p:nth-child(3){
	margin: 20px 0 20px 0;
}
.TPRS2Item > .col-sm-7 > .col-xs-5 > p:nth-child(4){
	margin: 0;
}
.TPRS2Item > .col-sm-7 > .col-xs-5 > p > img, .TPRS2Item > .col-sm-7 > .col-xs-4 > img{
	width: 50px;
}
.TPRS2Item > .col-sm-7 > .col-xs-4 > p:nth-child(2){
	color: #ecb842;
	font-size: 14px;
}
.TPRS2Item > .col-sm-7 > .col-xs-4 > div, .TPRS2Item > .col-sm-7 > .col-xs-4 > div > div{
	margin:0;
	padding: 0;
}
.TPRS2Item > .col-sm-7 > .col-xs-4 > div > .col-xs-4{
	font-size: 42px;
}
.TPRS2Item > .col-sm-7 > .col-xs-4 > div > .col-xs-8{
	font-size: 12px;
}
.TPRS2Item > .col-sm-7 > .col-xs-4 > .row{
	margin-bottom: 20px;
}
.TPRS2IPriceThrough{
	text-decoration-line:line-through;
	text-decoration-color: red;
}
.TPRS2Col2{
	padding: 20px 30px !important;
	vertical-align: middle;
}
.col-sm-5.TPRS2Col2{
	font-size: 30px;
}
.TPRS2Weather{
	background: #5d5d5d;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}
.TPRS2Col2 > div > div{
	display: inline-block;
}
.TPRS2Col2 > div > div > center > p:nth-child(1){
	font-size: 18px;
	margin-bottom: 0;
}
.TPRS2Col2 > div > div > center > p:nth-child(2){
	font-size: 12px;
	color: #c3c3c3;
	margin-bottom: 0;
}
.TPRS2Col2 > div > span {
	margin-left: 30px;
	font-size: 25px;
	color: #f1b833;
}
.col-sm-7.TPRS2Col2 > div{
	padding: 0;
    margin: 0;
}
.col-sm-7.TPRS2Col2 > div > button{
	background: #e2e2e2;
	border: 0;
	padding: 10px 40px;
	color: #777777;
}
.col-sm-7.TPRS2Col2 > div > button:hover{
	background: #ededed;
}
.TPRS2IMore{
	background: #7e7e7e;
	border: 0;
}
.TPRS2IMore:hover, .TPRS2IMore:active, .TPRS2IMore:focus, .TPRS2IMore:visited, .TPRS2IMore:link{
	background: #9c9c9c;
	border: 0;
}
/* end trip planner result */

/* start trip planner detail */
.tripPlannerDetail{
	background-image: url("../images/bali-lg.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: auto;
	min-height: 500px;
	padding: 40px 10%;
	color: white;
	position: relative;
	font-weight: 100;
}
.TPDButtonBack{
	background: #e7e7e7;
	color: #777777;
	border-radius: 5px;
	padding: 10px 40px;
	border: 0;
}
.TPDButtonBack:hover{
	background: #f5f5f5;
}
.TDPDesc{
	position: absolute;
	bottom: 0;
}
.TDPDesc > p:nth-child(1){
	font-size: 50px;
}
.TDPDesc > p:nth-child(2){
	font-size: 20px;
}
.TPDButtonPurchase{
	background: #f2b830;
	color: white;
	border-radius: 5px;
	padding: 10px 30px;
	border: 0;
	position: absolute;
	bottom: 0;
	right: 0;
}
.TPDButtonPurchase{
	background: #f2b830;
	margin-bottom: 10px;
	margin-right: 10%;
}
.TPDButtonPurchase:hover{
	background: #fcd883;
}
.TPDButtonPurchase > p{
	margin:0;
}
.TPDButtonPurchase > p:nth-child(1){
	font-size: 25px;
	font-weight: bold;
}
.TPD2{
	background: #e2e2e2;
	padding: 3% 10%;
	text-align: center;
}
.TPD2 > h3{
	color: #686868;
	margin-bottom: 7%;
	font-weight: bold;
}
.TPD2Item{
	text-align: left;
	padding: 15px;
	background: #fafafa;
    margin: 0px 15px;
    border-radius: 10px;
	display: flow-root;

}
.TPD2Item > p:nth-child(1){
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
}
.TPD2Item > p:nth-child(2){
	font-size: 13px;
	display: inline-block;
}
.TPD2IEvent{
	margin: 10px;
	font-size: 15px;

}
.TPD2IEvent > i {
	font-size: 25px;
}
.TPD2ILine{
	border-left: 2px solid;
    padding-left: 10px;
    height: 40px;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    left: 20px;
	font-size: 12px;
    font-style: italic;
}
.TPD2ILine i {
	margin-left: 10px;
	font-size: 15px;
}
.TPD2IAdd {
	border-radius: 50%;
    behavior: url(PIE.htc);
    width: 35px;
    height: 35px;
    padding: 0px;
    background: transparent;
    border: 2px solid black;
    color: black !important;
    text-align: center;
    font: 30px Arial, sans-serif;
    margin-right: 5px;
    cursor: pointer;
}
.TPD2IDelete{
	margin-left: 10px;
	font-weight: bold;
	cursor: pointer;
	display: none;
}
.TPD2IDelete:hover{
	color: grey;
}
.TPD3, .TPD4, .TPD6{
	background: white;
	padding: 3% 10%;
	color: #696969;
}
.TPD3 > h3, .TPD4 > h3{
	color: #686868;
	margin-bottom: -40px;
	font-weight: bold;
}
.TPD3 .nav-tabs, .TPD4 .nav-tabs{
	border-bottom: 0;
}
.TPD3 .nav-tabs>li.active>a, .TPD3 .nav-tabs>li.active>a:focus, .TPD3 .nav-tabs>li.active>a:hover, .TPD4 .nav-tabs>li.active>a, .TPD4 .nav-tabs>li.active>a:focus, .TPD4 .nav-tabs>li.active>a:hover{
	border: 0;
	border-bottom: 4px solid #f2b830;
}
.TPD3 .nav>li>a:hover, .TPD4 .nav>li>a:hover{
	background: transparent;
	border: 0;
}
.TPD3 .nav-tabs>li, .TPD4 .nav-tabs>li {
    font-size: 17px;
    font-weight: bold;
    background: none;
}
.TPD3 > .tab-content, .TPD4 > .tab-content{
	background: #fafafa;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.TPD3 .col-md-7 img{
	border-radius: 10px;
	margin-bottom: 20px;
	width: 100%;
}
.TPD3 .col-md-5 > p:nth-child(1){
    font-size: 40px;
	font-weight: bold;
}
.TPD3 .col-md-5 .fa-star{
	color: #ecb842;
    font-size: 30px;
}
.TPD3 .col-md-5> p > .pull-right{
	color: #f2ba2f;
    font-size: 30px;
    font-weight: bold;
    margin-top: -9px;
}
.TPD3 .col-md-5 .row{
	margin-top: 40px;
}
.TPD3 .col-xs-5 img{
	border-radius: 10px;
	margin-bottom: 20px;
	width: 100%;
}
.TPD3 .col-md-5 .col-xs-7 > p:nth-child(1){
	font-size: 17px;
	font-weight: bold;
}
.TPD3 .col-md-5 .col-xs-7 > a{
	font-style: italic;
	text-decoration: underline;
	position: absolute;
	bottom: -40px;
}
.TPD3DescMore > .nav-tabs{
	background: #f3f3f3;
}
.TPD3DescMore > .tab-content{
	background: white;
	padding: 10px;
}
.TPD3DescMore>.nav-tabs>li.active>a, .TPD3DescMore>.nav-tabs>li.active>a:focus, .TPD3DescMore>.nav-tabs>li.active>a:hover{
	border: 0;
	background: white;
}
.facilities{
	overflow-y: auto;
    height: 250px;
}
.facilities::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.facilities::-webkit-scrollbar
{
	width: 10px;
	background-color: #f4f4f4;
}

.facilities::-webkit-scrollbar-thumb
{
	background-color: #b2b2b2;
}
.facilities table{
	width: 100%;
}
.facilities td{
	margin-bottom: 10px;
	vertical-align: top;
}
.facilities td:nth-child(1){
	width: 40%;
	display: inline-flex;
}
.facilities td:nth-child(2){
	width: 60%;
	display: inline-flex;
}
.facilities td div{
	border-radius: 50%;
    behavior: url(PIE.htc);
	width: 23px;
    height: 23px;
    padding: 5px;
    background: #e7ebf4;
    /* border: 2px solid #666; */
    color: #7d859a !important;
    text-align: center;
    font: 14px Arial, sans-serif;
    margin-right: 10px;
}
.TPD4 .tab-content > div > p{
	font-size: 30px;
	font-weight: bolder;
}
.TPD4 .tab-content > div > p > img{
	width: 150px;
	margin-right: 40px;
	margin-bottom: 40px;
}
.TPD4 .tab-content > div > div > span:nth-child(1){
	font-size: 17px;
    font-weight: bolder;
    margin-right: 30px;

}
.TPD4 .tab-content > div > div > span:nth-child(2){
	font-size: 16px;
    margin-right: 30px;

}
.TPD4 .tab-content > div > div > span:nth-child(3){
	font-size: 20px;
    font-weight: bold;
    color: #efba30;
}
.TPD4Hr{
	padding: 10px 40px;
	padding-bottom: 0;
}
.TPD4Hr > div{
	border-radius: 50%;
    behavior: url(PIE.htc);
	width: 15px;
    height: 15px;
    background: #000;
    /* border: 2px solid #666; */
    color: #7d859a !important;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.TPD4Hr > div:nth-child(1){
	position: absolute;
}
.TPD4Hr > hr{
	margin-top: 7px;
	border-top: 1px solid black;
}
.TDP4Arrive{
	margin-bottom: 40px;
}
.TDP4Arrive > span:nth-child(2){
	font-size: 17px !important;
    font-weight: bolder;
    margin-right: 0 !important;

}
.TPD5{
	width: 100%;
	height: 500px;
	border: 0;
}
.TPD6{
	text-align: center;
}
.TPD6BSave{
	background: #3a92fe;
    border: 0;
    color: white;
    border-radius: 5px;
    padding: 12px 33px;
    font-size: 20px;
    margin: 40px 5px;
    font-weight: bold;
}
.TPD6BSave:hover{
	background: #8dc0ff;
}
.TPD6BContinue{
	background: #f2b830;
    border: 0;
    color: white;
    border-radius: 5px;
    padding: 12px 33px;
    font-size: 20px;
    margin: 40px 5px;
    font-weight: bold;
}
.TPD6BContinue:hover{
	background: #f6d077;
}
.TPD2AddMore{
	font-size: 18px;
	background-color: #b4b4b4;
	color: white;
	padding: 5px 20px;
	border-radius: 5px;
	font-weight: bold;
	border: 0;
}
.TPD2AddMore:hover{
	background-color: #bfbfbf;
}
.TPDPop {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.TPDPContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    min-width: 600px;
    max-width: 70%;
    border-radius: 10px;
	text-align: left;
}
.TPDPContent > hr{
	margin-top: 13px;
	margin-bottom: 10px;
}
.TPDPCHead{

}
.TPDPopCaption{
	font-size: 20px;
	font-weight: bold;
}
.TPDPTab{
	margin-right: 30px;
	color: #656766;
	cursor: pointer;
	font-size: 15px;
}
.TPDPMenu{
	padding: 5px;
}
.TPDPTab:hover, .TPDPTab.active{
	color: #f2b31a;
}
.TPDPTab > i{
	margin-right: 5px;
	font-weight: bold;
}
.TPDSearch{
	display: inline-block;
	float: right;
}
.TPDPMenu{
	background-color: orange;
	color: red;
}
.TPDPMenu > div{
	display: inline-block;
	margin-right: 5px;
}
.TPDPMSelect{
	border-radius: 0;
    width: 100px;
    border: 0;
    color: #616161;
}
.TPDPCItemList{
	overflow-y: auto;
    height: 400px;
    margin-right: 0;
    padding-bottom: 20px;
}
.TPDPCItem{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	margin-top: 20px;
	border-radius: 3px;
	cursor: pointer;
}
.TPDPCItem>hr{
	margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px dashed #828282;
}
.TPDPCItemTop{
	position: relative;
	bottom: 5px;
	right: 0;
}
.TPDPCItemTop > img{
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
	width: 100%;
}
.TPDPCBadge{
	position: absolute;
    bottom: 4px;
    right: 7px;
    padding: 3px;
    padding-right: 60px;
	background: rgba(0, 0, 0, 0.5);
	color: white;

}
.TPDPCBadgeCheck{
	position: absolute;
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 35px;
    height: 35px;
    padding: 5px;
    background: #2b6fb6;
    /* border: 2px solid #666; */
    color: #fff !important;
    text-align: center;
    top: -6px;
    right: -6px;
    font-size: 24px;
}
.TPDPCItemBottom{
	padding: 5px;
	height: 170px;
	position: relative;
}
.TPDPCPrice{
	padding: 5px;
}
.TPDPCCaption{
	font-size: 15px;
	font-weight: bold;
}
.TPDPCTime{
	color: #8a8a8a;
}
.TPDPCPrice >span:nth-child(1){
	font-size: 12px;
}
.TPDPCPrice > span:nth-child(2){
	font-size: 15px;
	color: #d41c04;
	font-weight: bold;
}
.TPDPCPrice >span > b{
	font-size: 12px;
}
.TPDPCDetailButton{
	position: absolute;
    bottom: 0;
}
.TPDPCDetailButton:hover, .TPDPCDetailButton:focus{
	text-decoration: none;
}
/* end trip planner detail */

/* start hotel */
.FSection1{
	min-height: 100vh;
	width: 100%;
	background-image: url("../images/home-bg.jpg");
	background-size: cover;
	text-align: center;
	padding: 10%;
	color: white;
}
.FS1P{
	margin-top: 5%;
	line-height: 1;
}
.FS1P1{
    font-size: 35px;
    font-weight: bold;
}
.FS1P2{
	font-size: 18px;
}
.FS1F{
	background: rgba(0, 28, 75, 0.78);
    border-radius: 10px;
    margin-top: 4%;
    width: 100%;
    left: 11%;
    /*position: absolute;*/
	text-align: left;
	padding: 30px;
	font-size: 17px;
}
.FS1F > center > button {
    font-weight: bold;
    margin-top: 40px;
    padding: 15px 55px;
}
.FS1FI {
	margin-top: 20px;
}
.FS1FI label {
	font-weight: 100;
	font-size: 15px;
}
.FS1FI > .col-sm-7{
	width: 53.333333%;
	padding-right: 5px;
}
.FS1FI > .col-sm-3{
	padding-left: 5px;
	padding-right: 5px;
	width: 24.3333%;
}
.FS1FI > .col-sm-2{
	padding-left: 5px;
	width: 22.3333%;
}
.FS1FI > div > .input-group, .HS1FI > div > .form-group {
	width: 100%;
}
.FS1FI > div > .input-group > #depart {
	border-radius: 5px 0 0 5px;
}
.FS1FI > div > .input-group > #person {
	border-radius: 5px 0 0 5px;
}
.FS1FI > div > .input-group > #person::before{
	position: absolute;
	content: " \2193";
	top: 0px;
	right: -8px;
	height: 20px;
	width: 20px;
}
.FS1FI > div > .input-group-lg > .form-control {
	height: 50px;
}
.FS1FIRadiusLeft{
	border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
/* end hotel */

/* start hotel Result */
.RHCol2Result{
	border-radius: 10px;
	box-shadow: 0px 2px 4px #848484;
	padding: 0;
	margin: 15px;
	background: white;
	z-index: 4;
}
.RHCol2Result > div{
	display: inline-block;
	vertical-align: middle;
}
.RHCol2Foto{
	width: 25%;
}
.RHCol2Foto > img{
	width: 100%;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
.RHCol2Desc{
	background: white;
	padding: 10px 20px;
	width: 40%;
	vertical-align: top !important;
	position: relative;
}
.RHCol2Desc > p:nth-child(1){
	font-size: 25px;
    font-weight: bold;
}
.RHCol2Desc > p:nth-child(3){
	color: #7a7a7a;
	font-size: 12px;
	margin-top: 20px;
}
.RHCol2Desc > div{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    color: #7a7a7a;
}
.RHCol2Desc > div span{
	color: #ffb500;
}
.RHCol2Price{
	width: 28%;
	text-align: center;
	background: #f8f8f8;
	padding: 16px;
	margin-left: 20px;
}
.RHCol2Caret{
	padding: 5px;
	width: 3%
}
.RHCol2ResultToggle{
	border-radius: 10px;
	box-shadow: 0px 2px 4px #848484;
	padding: 30px 60px 10px 60px;
	margin: 15px;
	background: #f8f8f8;
	z-index: 3;
	margin-top: -25px;
	line-height: 0.7;
}
.RHCol2ResultToggle hr{
	border-top: 1px solid black;
}
.RHCol2Fee{
	color: #ffb400;
}
.RHCol2ResultToggle > .col-xs-8{
	border-right: 1px solid black;
}
.RHCol2ResultToggle > .col-xs-4{
	text-align: center;
}
.RHCol2ResultToggle > .col-xs-4 > p:nth-child(1){
	font-size: 17px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 20px;
}

.RHCol2ResultToggle > .col-xs-4 > p:nth-child(2){
	font-size: 25px;
    font-weight: bold;
}
/* end hotel Result */

/* start hotel detail */
.HotelDetail{
	padding: 3% 10%;
}
.HDSection1{
	background-image: url("../images/novotel.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: auto;
	min-height: 500px;
	padding: 5px 25px;
	color: white;
	position: relative;
	font-weight: 100;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-shadow: 0 0 2px black;
}
.HDSection1 > .fa-star{
	font-size: 30px;
	color: #ffcc00;
}
.HDSection1 > p{
	position: absolute;
    bottom: 0;
    font-size: 17px;
}
.HDSection2{
	background: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 25px;
	line-height: 1;
	margin-right: 0;
	margin-left: 0;
}
.HDS2Left, .HDS2Right{
	padding: 0;
}
.HDS2Left > p:nth-child(1){
	font-size: 25px;
    color: #efba2e;
}
.HDS2Left > p:nth-child(2){
	font-size: 20px;
	font-weight: bold;
    color: #efba2e;
}
.HDS2Left > img{
	width: 100px;
}
.HDS2Right{
	text-align: right;
}
.HDS2Right > p:nth-child(1){
	font-size: 18px;
	font-weight: bold;
}
.HDS2Right > p:nth-child(2){
	font-size: 30px;
	font-weight: bold;
	color: #efba2e;
}
.HDS2Right > button{
	padding: 10px 50px;
	color: white;
	background: #ffb400;
	border-radius: 5px;
	border: 0;
	font-size: 17px
	font-weight: bold;
}
.HDSection2 > .col-sm-2{
	margin-top: 20px;
	font-weight: bold;
	font-size: 14px;
}
.HDSection2 > .col-sm-2 > i{
	margin-right: 10px;
	color: #2197df;
}
#map{
	height: 300px;
	width: 100%;
}
#rightMaps > p{
	font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
#rightMaps > div{
	margin-top: 10px;
}
#rightMaps > .col-xs-2{
	border-radius: 50%;
    behavior: url(PIE.htc);
    width: 30px;
    height: 30px;
    padding: 1px;
    background: #434343;
    /* border: 2px solid #666; */
    color: #fff !important;
    text-align: center;
    font: 25px Arial, sans-serif;
    margin-right: 5px;
}
#rightMaps > .col-xs-10 > p:nth-child(2){
	color: #9d97a3;
}
.HDSection3, .HDSection4{
	background: white;
	border-radius: 10px;
	padding: 25px;
	line-height: 1;
	margin-right: 0;
	margin-left: 0;
	margin-top: 20px;
}
.HDSection3 img{
	width: 100%;
}
.HDSection3 > div > .col-xs-5 > p:nth-child(1){
	font-size: 20px;
    font-weight: bold;
}
.HDSection3 > div > .col-xs-5 > p:nth-child(2){
    color: #9d97a3;
    font-size: 12px;
}
.HDSection3 > div > .col-xs-5 > p:nth-child(3){
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 0;
}
.HDSection3 > div > .col-xs-5 > p:nth-child(3) > span{
	margin-right: 10px;
}
.HDSection3 > div > .col-xs-5 > p:nth-child(3) > span:nth-child(2), .HDSection3 > .col-xs-5 > p:nth-child(3) > span:nth-child(3){
	color: #5fad61;
}
.HDSection3 > div > .col-xs-3 > p:nth-child(1){
	color: #b5a6a1;
}
.HDSection3 > div > .col-xs-3 > p:nth-child(2){
		font-size: 30px;
    font-weight: bold;
    color: #f8b02a;
}
.HDSection3 > div > .col-xs-3 > p:nth-child(3){
	color: #5391dc;
	font-weight: bold;
}
.HDSection3 > div > .col-xs-3 > p > span{
		text-decoration: line-through;
}
.HDSection3 > div > .col-xs-3{
	text-align: right;
}
.HDSection3 > div > .col-xs-2{
	text-align: center;
}
.HDSection3 > div > .col-xs-2 > button{
	color: white;
	background: #f7b432;
	font-size: 14px;
	font-weight: bold;
	border: 0;
	border-radius: 5px;
	padding: 10px 30px;
	margin-top: 20%;
}
.HDSection4 > .nav-tabs{
	border-bottom: 0;
}
.HDSection4 > .tab-content{
	padding: 60px 20px 10px 20px;
}
.HDS4TabHead{
	width: 50%;
	text-align: center;
	border: 0;
	font-size: 17px;
	font-weight: bold;
}
.HDS4TabHead>a:hover, .HDS4TabHead>a:visited, .HDS4TabHead.active{
	background: transparent !important;
	border: 0;
}
.HDS4TabHead.active > a > span{
	border-bottom: 3px solid orange;
	color: orange;
	padding-bottom: 15px;
}
.HDS4TabHead.active>a, .HDS4TabHead.active>a:focus, .HDS4TabHead.active>a:hover{
	border: 0 !important;
}
.HDS4Circle{
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 150px;
    height: 150px;
    padding: 45px;
    background: #f8b533;
    /*border: 2px solid #666;*/
    color: #fff !important;
    text-align: center;
    margin-top: 15px;
}
.HDS4CircleP1{
	font-size: 40px;
}
.HDS4CircleP2{
	font-size: 20px;
}
.HDS4Table td{
	padding: 10px;
}
.HDS4TableTd1{
	font-size: 15px;
	color: #727272;
	font-weight: bold;
}
.HDS4TableTd2{
	width: 100%;
	
}
.HDS4TableTd3{
	color: #fac34e;
}
.HDS4Table .progress{
	height: 10px;
    margin-bottom: 0; 
    margin: 0 20px;
}
.HDS4Table .progress-bar{
	background-color: #f7b432;
}
.HDS4ReviewHead{
	margin-top: 50px;
}
.HDS4ReviewList{
	border: 1px solid #e2e2e2;
	border-radius: 10px;
	margin-top: 50px;
}
.HDS4RItem{
	padding: 20px 30px;
}
.HDS4RICircle{
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 50px;
    height: 50px;
    padding: 12px 8px;
    background: #f8b533;
    /*border: 2px solid #666;*/
    color: #fff !important;
    text-align: center;
    margin-right: 35px;
    font-size: 25px;
}
.HDS4RIDate{
	color: #c1c1c1;
}
.HDS4RHR{
	padding: 0;
	margin: 0;
	border-top: 1px solid #e2e2e2;
}
.HDS4Pagination{
	color: #f6ab1a;
	margin-top: 20px;
}
.HDS4Pagination > span{
	margin: 0 5px;
}
.HDS4PState{
	border-radius: 50%;
    behavior: url(PIE.htc);
    width: 18px;
    height: 18px;
    padding: 2px 0;
    background: #f8b533;
    /*border: 2px solid #666;*/
    color: #fff !important;
    text-align: center;
    margin: 5px 0;
    font-size: 14px;
    display: inline-block;
}
.HDS4Tab{
	margin-top: 40px;
}
.HDS4Tab .nav-tabs{
	border-bottom: 0;
}
.HDS4Tab .nav-tabs>li>a{
    color: #e1e1e1;
}
.HDS4Tab .nav-tabs>li.active>a, .HDS4Tab .nav-tabs>li.active>a:focus, .HDS4Tab .nav-tabs>li.active>a:hover{
	border: 0;
	border-bottom: 4px solid #f2b830;
	color: #f6a812;
}
.HDS4Tab .nav>li>a:hover{
	background: transparent;
	border: 0;
}
.HDS4Tab .nav-tabs>li{
    font-size: 15px;
    font-weight: bold;
    background: none;
}
.HDS4Tab > .tab-content{
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.HDS4Tab .tab-pane .col-xs-4{
	font-size: 15px;
	line-height: 1.5;
}
.HDS4Tab .tab-pane i{
	margin-right: 10px;
}
.HDS4Tab .tab-pane ul{
	padding-left: 20px;
	margin-bottom: 30px;
}
.HDS4Tab .tab-pane li{
	padding-left: 5px;
	line-height: 2;
}
.HDS4BookButton{
	font-size: 17px;
	color: white;
	background-color: orange;
	border-radius: 5px;
	border:0;
	font-weight: bold;
	padding: 10px 20px;
	margin-top: 30px;
}
.HDS4BookButton:hover{
	background: #ffc04d;
}
.HDS4Information{
	width: 100%;
	border: 2px solid orange;
	padding: 20px;
	margin-top: 50px;
	border-radius: 5px;
}
.HDS4InformationIcon{
	border-radius: 50%;
    behavior: url(PIE.htc);
    width: 18px;
    height: 18px;
    padding: 2px 0;
    background: orange;
    /*border: 2px solid #666;*/
    color: #fff !important;
    text-align: center;
    margin: 5px 0;
    font-size: 14px;
    display: inline-block;
    margin-right: 30px;
}
/*.HDS4PFirst{

}
.HDS4PPrev{
	
}

.HDS4PNumber{
	
}*/
/* end hotel detail */

/* start tos */
.TosSection{
	margin: 3% 10%;
	background: white;
	border-radius: 10px;
	padding: 30px 20px;
}
.TosSection li a{
	padding: 0;
	margin-bottom: 20px;
	font-size: 15px;
	color: #656565;
	font-weight: bold;
}
.TosSection > .col-sm-10{
	border-left: 1px solid #ededed;
}
.TosSection li a:hover, .TosSection li a:focus, .TosSection li .active{
	background: transparent;
	color: #feb300;
}
.TOSCaption{
	font-size: 20px;
    font-weight: bold;
}
.TOSSubCaption{
	font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}
/* end tos */

/* start contact us */
.ContactSection{
	margin: 3% 10%;
	border-radius: 10px;
}
.CS1{
	background: #9f9f9f;
	color: white;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.CS2{
	background: white;
	color: #333335;
	margin-left: 0;
	margin-right: 0;
	padding: 20px;
}
.CS2 > .col-sm-5 > p:nth-child(1){
	font-size: 18px;
    font-weight: bolder;
    margin-bottom: 25px;
}
.CS2 > .col-sm-5 > p:nth-child(2), .CS2 > .col-sm-5 > p:nth-child(5){
	font-size: 15px;
    font-weight: bold;
}
.CS2 > .col-sm-5 > p > i{
	color: #f7b432;
	margin-right: 10px;
}
.CS2 > .col-sm-5 > p:nth-child(3){
    font-weight: bold;
    margin-bottom: 0;
}
.CS2 > .col-sm-5 > p:nth-child(5){
	margin-top: 25px;
}
.CS2 > .col-sm-5 > p:nth-child(6){
	color: #f7b75d;
	font-weight: bold;
}
.CS2 > .col-sm-7{
	border-left: 1px solid #ededed;
}
.CS2 > .col-sm-7 > p:nth-child(1){
	font-size: 18px;
    font-weight: bolder;
    margin-bottom: 25px;
}
.CS2 > .col-sm-7 > div {
	margin-bottom: 10px;
	padding-left: 0;
}
.CS2Sosmed{
	font-size: 18px;
    font-weight: bolder;
    margin-bottom: 25px;
    margin-top: 25px;
}
.CS2 > .col-sm-7 img{
	width: 40px;
	margin:5px;
}
.CS3{
	width: 100%;
	height: 600px;
	border: 0;
	background: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.CS3Map{
	width: 100%;
	height: 550px;
}
/* end contact us */

/* Start Discovery */
.DBreadcrumb{
	background: #fafafa;
	padding: 20px 10%;
}
.DBreadcrumb > div {
	display: inline-block;
	/*color: #9ea09d;*/
	vertical-align: middle;
}
.DBHome > div:nth-child(1){
	font-size: 16px;
    font-weight: bolder;
}
.DBHome > div:nth-child(2) > a{
	font-size: 13px;
    font-weight: bolder;
    color: #2d3542;
    margin-left: 10px;
    padding-bottom: 3px;
}
.DBHome > div:nth-child(2) > a:hover, .DBHome > div:nth-child(2) > a:focus, .DBHome > div:nth-child(2) > a.active{
    font-weight: bolder;
    color: #f6b632;
    border-bottom: 2px solid #f6b632;
    text-decoration:  none;
}
.DiscoveryContent{
	padding: 20px 10%;
}
.DCHomeAll{
	background: white;
	border-radius: 10px;
	color: #50575f;
	padding: 20px;
}
.DCHomeAll > .col-sm-2{
	background: #fafafa;
	padding: 0;
	border-radius: 10px;
}
.DCHomeAll > .col-sm-2 > div{
    padding: 10px;
    cursor: pointer;
    margin: 0;
}
.DCHomeAll > .col-sm-2 > div:hover, .DCHomeAll > .col-sm-2 > div.active{
    background: #fefaee;
    border-left: 2px solid #f8ba43;
}
.DCHomeAll > .col-sm-2 > p{
	margin-top: 10px;
    color: #f8b026;
    padding: 10px;
    font-weight: bold;
}
.DCHomeAll > .col-sm-2 > hr{
	margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #eee;
}
.DCHomeAll > .col-sm-10 > div{
	/*margin-left: 20px;*/
}
.DCHCaption{
	background: #fafafa;
	color: #f8b026;
	padding: 20px;
    font-size: 25px;
    font-weight: bold;
}
.DCHAlphabet{
	color: #f8b026;
	padding: 20px;
    font-size: 25px;
    font-weight: bold;
}
.DCHAItem{
	margin-bottom: 20px;
}
.DCHCountry{
	background: #fafafa;
	border-radius: 5px;
	color: #7a7f85;
	font-weight: bold;
	margin-bottom: 20px;
}
.DCHCountry > a > img{
	height: 50px;
	border-radius: 5px 0 0 5px;
	margin-right: 15px;
}
.DCHCountry > a:hover{
	text-decoration: none;
}
.DCHContinentSection1{
	background-image: url("../images/novotel.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: auto;
	min-height: 500px;
	padding: 5px 25px;
	color: white;
	position: relative;
	font-weight: 100;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-shadow: 0 0 2px black;
	text-align: center;
	vertical-align: middle;
	padding-top: 170px; 
}
.DCHContinentSection1 > p{
	font-size: 60px;
    font-weight: bold;
}
.DCHContinentSection2{
	background: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 40px 80px;
	line-height: 1;
	margin-right: 0;
	margin-left: 0;
}
.DCHContinentSection2 > center > span{
	margin: 20px;
	font-size: 17px;
	font-weight: bold;
}
.DCHContinentSection2 > center > h1{
	margin-top: 50px;
}
.DCHContinentSection2 > center > div{
	border-top: 2px solid #f7b432;
    width: 30px;
}
.DCHContinentSection2 > center > p {
	margin-top: 30px;
	line-height: 2;
	font-style: italic;
	color: #657582;
	font-size: 17px;
}
.DCHContinentSection2 > center > p > a{
	color: #f4b42e;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;

}
.DCHContinentSection2 > center > img{
	border-radius: 50%;
	margin-top: 30px;
	height: 100px;
}
.DCHCS2Name{
	font-weight: bold;
	font-size: 15px !important;
	font-style: normal !important;
	color: #3d434f !important;
	margin-bottom: 0;
}
.DCHCS2Work{
	color: #8b9096;
	margin-top: 0 !important;
	font-size: 13px !important;
}
.DCHContinentSection2 > .row{
	margin-top: 50px;
	margin-bottom: 50px;
}
.DCHContinentSection2 > .row > .col-sm-3 > div{
	min-height: 350px;
	background-size: cover;
	text-align: center;
	color: white;
	position: relative;
	padding-top: 230px;
	text-shadow: 0 0 2px black;
	cursor: pointer;
}
.DCHContinentSection2 > .row > .col-sm-3 > div > div{
	height: 350px;
    position: absolute;
    width: 100%;
    top: 0;
}
.DCHContinentSection2 > .row > .col-sm-3 > div:hover > div{
	background: rgba(33, 33, 33, 0.7);
	-webkit-filter: blur(2px);
	filter: blur(2px);
}
.DCHContinentSection2 > .row > .col-sm-3 > div > p:nth-child(1){
	font-style: italic;
	font-size: 12px;
}
.DCHCS2TopSight > p{
	font-size: 18px;
	font-weight: bold;
}
.DCHCS2TopSight .col-xs-6{
	padding: 0;
}
.DCHCS2TopSight .col-xs-6 img{
	height: 50px;
	margin-right: 15px;
}
.DCHCS2TopSight .col-xs-6 td{
	padding-top: 20px;
}
.DCHCS2TopSight .col-xs-6 p:nth-child(1){
	font-size: 15px;
	font-weight: bold;
}
.DCHCS2TopSight .col-xs-6 p:nth-child(2){
	color: #bdcbcc;
	font-size: 10px;
}
.DCHCS2TopSight .col-md-4 > div{
	width: 100%;
	background: #f6f6f6;
	padding: 10px 20px;
	text-align: center;
}
.DCHCS2TopSight .col-md-4 > div > p{
	color: #bdcbcc;
	font-size: 10px;

}
.DCHCS2TopSight .col-md-4 > div > img{
	width: 100%;
}
.DCHCS2SurvivalGuide > .col-sm-3 > p:nth-child(1){
	text-align: center;
	font-size: 70px;
	color: #faa40f;
	margin-bottom: 30px;

}
.DCHCS2SurvivalGuide > .col-sm-3 > p:nth-child(2){
	text-align: center;
	font-size: 16px;
	font-weight: bold;

}
.DCHCS2SurvivalGuide > .col-sm-3 > p:nth-child(3){
	text-align: center;
	font-size: 14px;
	color: #8f939e;
	line-height: 1.4;

}
.DCHCS2SeeMore{
	text-align: center;
}
.DCHCS2SeeMore > a{
	color: #f4b42e;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}
.DCHDetail{
	background: white;
	border-radius: 10px;
	padding: 40px 80px;
	line-height: 1;
	margin-right: 0;
	margin-left: 0;
}
.DCHDetail > center > p:nth-child(1){
	font-size: 50px;
	font-weight: bold;
}
.DCHDetail > center > p:nth-child(2){
	font-style: italic;
}
.DCHDetail > .row{
	margin-top: 40px;
}
.DCHDetail .col-xs-9 > img{
	width: 100%;
	margin-bottom: 5px;
}
.DCHDetail .col-xs-9 > span{
	color: #bdcbcc;
	font-size: 10px;
}
.DCHDArticle{
	line-height: 2;
	font-size: 17px;
	padding: 40px;
	font-family: "Times New Roman", Georgia, Serif;
}
.DCHDArticle > p{
	margin-bottom: 30px;
}
.DCHDAds{
	box-shadow: 0 0 3px grey;
	padding: 17px;
	background: white;
	margin-bottom: 40px;
	font-family: Ubuntu;
}
.DCHDAds img{
	width: 100%;
}
.DCHDAds p:nth-child(1){
	font-size: 12px;
    color: #d5d6d8;
    font-weight: bold;
    margin-bottom: 0;
}
.DCHDAds p:nth-child(2){
	font-size: 23px;
    font-weight: bold;
    line-height: 1.2;
}
.DCHDAds p:nth-child(3){
	font-size: 23px;
}
.DCHDAds a{
	font-size: 12px;
	font-weight: bold;
}
.DCHDItin{
	
}
.DCHDItin > hr{
	margin: 10px 0;
}
.DCHDItin > span:nth-child(1){
	font-weight: bold;
}
.DCHDItin > span:nth-child(2){
	font-weight: bold;
	color: #f9bf41;
}
.DCHDItin > img{
	width: 100%;
	margin: 20px 0;
}
.DCHDItinP1{
	font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.DCHDItinP2{
	font-size: 30px;
	margin: 0;
}
.DCHDItinP3{
	font-size: 15px;
}
.DCHDetail .col-xs-3 > hr{
	margin-top: 0;
}
.DCHDetail .col-xs-3 > p{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 20px;
}
.DCHAttraction{
	background: white;
	border-radius: 10px;
	padding: 40px 80px;
	line-height: 1;
	margin-right: 0;
	margin-left: 0;
}
.DCHAttraction > p {
	font-size: 30px;
}
.DCHAItem{
	padding: 20px 0 10px 0;
}
.DCHAItem > .col-xs-9 > p:nth-child(1){
	color: #bcc7cd;
	font-size: 12px;
	font-weight: bold;
}
.DCHAItem > .col-xs-9 > p:nth-child(1) > span{
	color: #dc412b;
}
.DCHAItem > .col-xs-9 > p:nth-child(2){
	font-size: 25px;
    font-weight: bold;
}
.DCHAItem > .col-xs-9 > p:nth-child(3){
	line-height: 1.5;
}
.DCHAItem > .col-xs-3 > img{
	width: 100%;
}
.DCHAttraction > .row > .col-xs-3 p{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 20px;
}
.DCHAttraction > .row > .col-xs-3 > div > .col-xs-6{
	padding: 0;
}
.DCHAttraction > .row > .col-xs-3 > div > .col-xs-6 > .checkbox{
	font-size: 13px;
	height: 25px;
}
.DCHAttraction > .row > .col-xs-3 > div > .col-xs-6 > .checkbox label{
	padding-left: 0;
}
.DCHAttraction > .row > .col-xs-3 a{
	font-size: 12px;
	font-weight: bold;
	color: orange;
}
.DCHGuide{
	background: white;
	border-radius: 10px;
	padding: 40px 80px;
	line-height: 1;
	margin-right: 0;
	margin-left: 0;
}
.DCHGuide > p {
	font-size: 30px;
}
.DCHGuide > .row > .col-xs-9 > p{
	font-size: 20px;
	margin: 40px 0;
    font-weight: bold;
}
.DCHGGlance{
	height: 100px;
	padding: 0 20px;
}
.talk-bubble {
  	display: inline-block;
  	position: relative;
	width: 100%;
	height: auto;
	background-color: #3c444f;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	color: white;
}
.talk-bubble:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  	right: auto;
  	top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: #3c444f transparent transparent;
}
.talktext{
  	padding: 1em;
	text-align: center;
  	line-height: 1.5em;
}
.talktext p{
  	-webkit-margin-before: 0em;
  	-webkit-margin-after: 0em;
}
.talktext p:nth-child(1){
  	font-size: 20px;
  	font-weight: bold;
}
.talktext p:nth-child(2){
  	font-size: 12px;
}
.DCHGGlanceP1{
	color: #96a7b1;
	text-align: center;
}
.DCHGGlanceP2{
	text-align: center;
	font-size: 20px;
}
.DCHGGlance > img{
	width: 100%;
}
.DCHGGDate{
	background: #f6f4f5;
	font-size: 12px;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
} 
.DCHGGPrice{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
.DCHGGPrice > span{
	font-size: 20px;
}
.DCHGMore{
	border: 1px solid orange;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
    color: orange;
    text-align: center;
}
.DCHGGDailyCost{
	font-size: 15px !important;
	font-weight: bold;
	color: orange;
	margin-top: -20px !important;
	margin-bottom: 10px !important;
}
.DCHGGDCBudget{
	color: #98a9b3;
}
.DCHGGDCPrice{
	font-size: 22px;
}
.DCHGGDCDiv{
	border-bottom: 2px solid #8abee5;
}
.DCHGGDCDiv2{
	border-bottom: 2px solid #c8e6aa;
}
.DCHGGDCDiv3{
	border-bottom: 2px solid #ed5b5b;
}
.DCHGGDCList{
	padding-left: 15px;
	line-height: 1.5;
	margin-top: 15px;
}
.DCHGGDCVisaDesc{
	font-size: 15px !important;
	font-weight: 100 !important;
	line-height: 1.4;
}
.DCHGGDCRadio{
	border: 2px solid #99aab4;
    border-radius: 6px;
    font-weight: bold;
}
.DCHGGDCRadio > .btn-primary.active, .DCHGGDCRadio > .btn-primary:active, .DCHGGDCRadio > .open>.dropdown-toggle.btn-primary{
	background-color: #99aab4;
    border-color: #99aab4;
    box-shadow: none;
    color: white;
    padding: 0 10px;
}
.DCHGGDCRadio > .btn-primary {
    color: #99aab4;
    background-color: #fff;
    border-color: #fff;
    padding: 0 10px;
}
.DCHGGDCBeforeMap{
	margin-bottom: 10px;
}
.DCHGGDCMonth {
	height: 70px;
	margin-top: 20px;
	border-right: 1px solid #d4dfe5;
	text-align: center;
	padding-top: 70px;
}
.DCHGGDCMLow{
	background: #dfe8ef;
}
.DCHGGDCMShoulder{
	background: #96c4e6;
}
.DCHGGDCMHigh{
	background: #cce9b3;
}
.DCHGGDCMonth > span{
	color: #97a9b5;
	font-weight: bold;
	font-size: 12px;
}
.DCHGGDCSeason{
	margin-top: 40px;
}
.DCHGGDCSeason p:nth-child(1){
    font-weight: bold;
}
.DCHGGDCSeason p:nth-child(2){
	line-height: 1.5;
}
.DCHGGDCSeasonLow{
	color: #dfe8ef;
}
.DCHGGDCSeasonShoulder{
	color: #96c4e6;
}
.DCHGGDCSeasonHigh{
	color: #cce9b3;
}
.DCHGuide > .row > .col-xs-3 > img{
	width: 100%;
}
.DiscoveryArticle{
	background: white;
	border-radius: 10px;
	padding: 40px 40px;
	line-height: 1;
	margin-right: 0;
	margin-left: 0;
}
.DACaption{
	font-size: 20px;
	color: #e4b05a;
	font-weight: bold;
	margin-bottom: 40px;
}
.DAFilterButton{
	margin-bottom: 10px;
}
.DAFilterButton > button{
	color: #6b6f72;
	border: 1px solid #6b6f72;
	border-radius: 5px;
	padding: 5px 15px;
	background: white;
}
.DAFilterButton > button:hover{
	color: #505050;
	background: #e8e8e8;
}
.DAFilterButton > button > span{
	font-weight: bold;
}
.DAItem{
	min-height: 400px;
}
.DAItem > a > img{
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.DAIP1{
	color: #bdbdbd;
	margin-bottom: 2px;
	margin-top: 5px;
	font-size: 12px;
}
.DAIP2{
	font-size: 15px;
	line-height: 1.4;
	font-weight: bold;
}
.DAIP3{
	line-height: 1.4;
	color: #bdbdbd;
}
.DAMore > button{
	width: 100%;
	padding: 10px;
	background: #2d3743;
	border:0;
	border-radius: 5px;
	color: white;
}
.DAMore > button:hover{
	background: #66717d;
}
.DARight > img{
	width: 100%;
}
.DARCaption{
	font-size: 15px;
	font-weight: bolder;
	margin: 20px 0;
}
.DARight > hr{
	margin:10px 0;
}
.DASocmedFb {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 30px;
    height: 30px;
    padding: 6px 5px;
    background: #687cb1;
    /*border: 2px solid #666;*/
    color: #fff !important;
    text-align: center;
    font: 16px Arial, sans-serif;
    margin-right: 5px;
    display: inline-block;
}
.DASocmedTwitter {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 30px;
    height: 30px;
    padding: 6px 5px;
    background: #57cbf4;
    /*border: 2px solid #666;*/
    color: #fff !important;
    text-align: center;
    font: 16px Arial, sans-serif;
    margin-right: 5px;
    display: inline-block;
}
.DASocmedGPlus {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 30px;
    height: 30px;
    padding: 6px 5px;
    background: #df6051;
    /*border: 2px solid #666;*/
    color: #fff !important;
    text-align: center;
    font: 16px Arial, sans-serif;
    margin-right: 5px;
    display: inline-block;
}
.DASocmedMail {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 30px;
    height: 30px;
    padding: 6px 5px;
    background: transparent;
    /*border: 2px solid #666;*/
    color: #aebbc3 !important;
    border: 1px solid #aebbc3;
    text-align: center;
    margin-left: 5px;
    font: 16px Arial, sans-serif;
    display: inline-block;
    float: right;
}
.DASocmedPrint {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 30px;
    height: 30px;
    padding: 6px 5px;
    background: transparent;
    /*border: 2px solid #666;*/
    color: #aebbc3 !important;
    border: 1px solid #aebbc3;
    text-align: center;
    font: 16px Arial, sans-serif;
    display: inline-block;
    float: right;
    margin-left: 5px;
}
.DASocmedCaption{
	font: 15px Arial, sans-serif;
	padding: 6px 5px;
	color: #aebbc3 !important;
	font-weight: bold;
	float: right;
}
.DAP1{
	font-size: 17px;
    line-height: 1.4;
    color: #7a838a;
}
.DAP2{
	margin-top: 25px;
    font-size: 17px;
    font-weight: bold;
}
.DAP3{
	line-height: 1.4;
}
/* end Discovery */

/* start User */
.User{

}
.UBreadcrumb{
	background: #fafafa;
	padding: 20px 10%;
}
.UBreadcrumb > div {
	display: inline-block;
	/*color: #9ea09d;*/
	vertical-align: middle;
	font-weight: bold;
	font-size: 17px;
}
.UserContent{
	padding: 20px 10%;
	font-weight: bold;
}
.UserContent > .row{
	background: white;
	border-radius: 10px;
	padding: 40px;
	line-height: 1;
	margin-right: 0;
	margin-left: 0;
}
.UCNav{
	/*background: #f6f6f6;*/
    padding: 20px 10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.UCNav.active{
	background: #f6f6f6;
}
.UCNav > span {
	font-size: 20px;
	margin-right: 10px;
}
.UCNav.active > div {
	width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #f6f6f6;
    /* float: right; */
    position: absolute;
    right: -10px;
    top: 16px;
}
.UserContent > .row > .col-xs-9{
	border-left: 1px solid #dddddd;
}
.UCInner{
	border: 1px solid #dddddd;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 1px 2px #dddddd;
	margin-bottom: 20px;
	position: relative;
}
.UCInner.row{
	margin-right: 0;
    margin-left: 0;
    padding: 0;
}
.UCInner .nav-tabs>li.active>a, .UCInner .nav-tabs>li.active>a:focus, .UCInner .nav-tabs>li.active>a:hover{
	border: 0;
	border-bottom: 4px solid #f2b830;
	color: #f2b830;
}
.UCInner .nav>li>a{
	color: #e1d27f;
}
.UCInner .nav>li>a:hover{
	background: transparent;
	border: 0;
}
.UCInner .nav-tabs>li{
    font-weight: bold;
    background: none;
}
.UCInner > .tab-content{
    margin-top: 20px;
}
.UCProfileInput{
	position: relative;
    border: 1px solid #bababa;
    border-radius: 5px;
    padding: 20px 10px;
    margin-bottom: 20px;
}
.UCProfileInput .checkbox label{
	padding-left: 0;
	margin-top: 10px;
}
.UCProfileInput .pull-right{
	color: #f8b533;
}
.UCProfileInput1{
    color: #878789;
}
.UCProfileInput2{
    color: #878789;
    font-size: 17px;
}
.UCProfileInput3{
}
.UCProfileInputGrey{
	border: 1px solid #bababa;
	background: #f6f6f6;
	border-radius: 5px;
	margin: 15px 0;
	padding: 10px;
}
.UCPIGTlp{
	font-size: 17px;
}
.UCPIGNotif{
	color: #878789;
	float: right;
	padding-right: 30px;
}
.UCProfileInput > hr{
	border-top: 1px solid #bababa;
	margin-left: -10px;
	margin-right: -10px;
}
.UCProfileInputWhite{
	border: 1px solid #bababa;
	border-radius: 5px;
	margin: 15px 0;
	padding: 20px;
}
.UCPICaption{
	font-size: 17px;
    font-style: italic;
    margin-bottom: 20px;
}
.UCPIPassword, .UCPIPassword:focus{
	width: 100%;
    border: 0;
    font-size: 30px;
    border-bottom: 1px solid #f1f1f1;
}
.UCPIButton{
	color: white;
	background: #f7b432;
	border-radius: 5px;
	border: 0;
	padding: 20px 50px;
}
.UCPIButton:hover{
	background: #ffc85d;
}
.UCCaption{
	font-size: 20px;
	font-weight: bold;

}
.UCSubCaption{
	font-size: 20px;
	font-weight: bold;

}
.UCInner2{
	border: 1px solid #dddddd;
	border-radius: 5px;
	box-shadow: 0 1px 2px #dddddd;
	position: relative;
	margin-right: 0;
    margin-left: 0;
}
.UCInner2 > .col-xs-6{
	padding: 20px;
}
.UCInner2 > .col-xs-6:nth-child(1){
	border-right: 1px solid #dddddd;
}
.UCInner2 > .col-xs-6 > p{
	margin-bottom: 20px;
}
.UCInner2 > .col-xs-6 > .checkbox label{
	padding-left: 0;
}
.UCInner .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 30px;
}

.UCInner .switch input {display:none;}

.UCInner .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.UCInner .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.UCInner input:checked + .slider {
  background-color: #2196F3;
  border: none;
}

.UCInner input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.UCInner input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.UCInner .slider.round {
  border-radius: 34px;
}

.UCInner .slider.round:before {
  border-radius: 50%;
}
.UCInner td > p:nth-child(1){
	font-size: 17px;
}
.UCInner td > p:nth-child(2){
	color: #727272;
	font-weight: 100;
}
.UCInner.row > .col-xs-4{
	padding: 20px
}
.UCInner.row > .col-xs-4 img{
	width: 50px;
	border-radius: 5px;
	margin-right: 20px;
}
.UCInner.row td > p:nth-child(1){
	color: #878789;
	font-size: 14px;
}
.UCInner.row td > p:nth-child(2){
	font-size: 20px;
	color: #424242;
	font-weight: bold;
}
.UCInner.row > .col-xs-8{
	border-left: 1px solid #dddddd;
	padding: 20px;
}
.UCInner.row > .col-xs-8 > div{
	color: #f8b533;
}
.UCInner > p:nth-child(1){
	font-size: 18px;
}
.UCInner > p:nth-child(2){
	font-size: 14px;
	color: #727272;
    font-weight: 100;
}
.UCIGrey{
	background: #f6f6f6;
	border-radius: 5px;
	margin: 20px 0;
	padding: 20px;
}
.UCIGrey > img{
	height: 30px;
}
.UCInner > .input-group-lg{
	margin-top: 20px;
}
.UCInner .input-group-lg > label{
	color: #787876;
}
.UCInner > .input-group-lg > input{
	-webkit-box-shadow: none;
    box-shadow: none;
}
.UCITerm{
	margin: 20px 0;
	color: #70747f;
	font-size: 17px;
	font-weight: 100;
}
.UCITerm > a{
	color: orange;
	font-style: normal;
}
.UCIAddButton{
	font-size: 17px;
	background: #f7b432;
	border: 0;
	border-radius: 5px;
	padding: 10px 30px;
	color: white;
}
.UCIAddButton:hover{
	color: #ffcd6d;
}
.UCICancelButton{
	font-size: 17px;
	background: transparent;
	border: 0;
	border-radius: 5px;
	padding: 10px 30px;
	color: #f7b432;
}
.UCInner > .pull-right{
	margin-left: 20px;
}
.UCTName{
	font-size: 15px !important;
	font-weight: bold !important;
	color: #4e4341 !important;
}
.UCTName > i {
	margin-right: 10px;
	color: #c5c5c5;
}
.UCInner > .form-inline{
	margin-top: 30px;
}
.UCTDiv{
	margin-top:20px;
}
.UCTPhoneFirst{
	width: 70px !important;
}
.UCTAddPhoto{
	color: orange;
}
.negative-button{
	color: orange;
}
.UserBooking{

}
.UserBooking .nav-tabs>li>a{
	text-align: center;
	color: #d4d3d1;
}
.UserBooking .nav-tabs>li.active>a{
	color: #696967;
}
.UserBooking .nav-tabs>li>a>i{
	text-align: center;
	color: #becee5;
	font-size: 25px;
}
.UserBooking .nav-tabs>li.active>a>i{
	color: #4ec6fa;
}
.UserBooking .nav-tabs>li.active>a, .UserBooking .nav-tabs>li.active>a:focus, .UserBooking .nav-tabs>li.active>a:hover{
	border: 0;
    border-bottom: 4px solid #126fcc;
}
.UserBooking .nav>li>a:hover, .UserBooking .nav>li>a:visited, .UserBooking .nav>li.active{
	background: transparent;
}
.UserBooking .nav>li>a:hover{
	background: transparent;
	border: 0;
}
.UserBooking .nav-tabs>li{
    font-weight: bold;
    background: none;
}
.UserBooking > .tab-content{
    margin-top: 20px;
}
.UserBooking .tab-pane > p{
	font-size: 17px;
	color: #908e8f;
	font-weight: bold;
	margin-top: 30px;
}
.UBInner1{
	border: 1px solid #dddddd;
	border-radius: 10px;
	padding: 20px 60px;
	box-shadow: 0 1px 2px #dddddd;
	margin-bottom: 20px;
	position: relative;
}
.UBInner2{
	border: 1px solid #dddddd;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 1px 2px #dddddd;
	margin-bottom: 20px;
	position: relative;
}
.UBInner1 > p:nth-child(2){
	font-weight: normal;
}
.UBInner2 > p:nth-child(1){
	font-size: 20px;
}
.UBInner2 > div > span{
	font-size: 17px;
}
.UBInner2 > div > span:nth-child(1){
	color: #8e8e8e;
}
.UBInner2 > div > img{
	height: 17px;
	margin-left: 20px;
}
.UBInner2Grey{
	background: #f6f6f6;
	margin: 20px -20px;
    padding: 0 20px;
}
.UBInner2Grey td{
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.UBInner2Grey tr:nth-child(1){
	color: #b4b4b4;
}
.UBI2More > a{
	font-size: 15px;
	color: orange;
	margin-left: 40px;
}
.UBI2More > a:hover{
	color: #ce8809;
	text-decoration: none;
}
.UBI2Ticket{
	color: white;
	background: #4ea753;
	border: 0;
	border-radius: 15px;
	padding: 5px 20px;
}
.UserBack{
	color: #f7b231;
}
.UserBack:hover{
	color: orange;
	text-decoration: none;
}
.BookingDetail{
	border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 1px 2px #dddddd;
    margin-top: 20px;
    position: relative;
    background: #fcfcfc;
}
.BookingDetail > div{
	padding: 20px;
}
.BDCaption{
	font-size: 20px;
	font-weight: bold;
}
.BookingDetail > hr{
	margin: 0;
}
.BDLabel{
	color: #727071;
	font-size: 14px;
	margin-bottom: 10px;
}
.BDTicket{
	color: white;
	background: #4ea753;
	border: 0;
	font-size: 12px;
	border-radius: 15px;
	padding: 5px 20px;
}
.BDHRDashed{
	margin: 0;
	border-style:dashed;
}
.BDReceipt{
	color: white;
	border: 0;
	border-radius: 5px;
	padding: 15px 30px;
	background: #f7b42f;
}
.BDReceipt:hover{
	background: #ee9e00;
}
.BDPNRCode{
	color: #51a1e0;
	margin-left: 20px;
	margin-bottom: 10px;
	line-height: 2;
}
.BDImg{
	height: 40px;
	margin-right: 30px;
}
.BDArrow{
	font-size: 30px;
}
.BDPassenger{
	font-size: 17px;
	margin-bottom: 20px;
}
.BDHotel img{
	max-height: 70px;
}
.BDHotel > .col-xs-7{
	font-size: 16px;
}
.BDHotel .clearfix{
	margin-top: 25px;
}
.HotelBookingHeadSpan{
	color: orange;
}
.HotelBookingHeadSpan:hover{
	color: #ca8200;
	text-decoration: none;
}
.HBCheckbox label{
	padding-left: 0;
	font-weight: bold;
	margin-bottom: 30px;
}
.HBPAdd{
	margin-top: 20px;
	color: orange;
}
.HBPSpecial{
	font-weight: bold;
	margin-top: 10px;
	font-size: 17px;
}
.HBPExplain{
	margin-top: 10px;
	line-height: 1.7;
}
.HBPrice{
	font-size: 18px;
}
.HBTotalPrice{
	font-size: 20px;
	width: 100%;
}
.HBPrice > div{
	margin-bottom: 10px;
}
.HBPrice > .col-xs-4, .HBTotalPrice > .col-xs-4{
	text-align: right;
}
.HBPrice span{
	color: green;
	font-weight: bold;
}
.HBRHead{
	padding: 10px 20px;
	border-bottom: 1px solid #ededed;
}
.HBRHead > p{
	font-size: 17px;
	font-weight: bolder;
	margin-bottom: 0;
}
.HBRBody{
	padding: 30px;
}
.HBRBody img{
	width: 100%;
}
.HBRBody > .col-xs-8 > p:nth-child(1){
	font-weight: bold;
	margin-bottom: 0;
}
.HBRBody > .col-xs-8 > p:nth-child(2){
	font-size: 17px;
	color: orange;
}
.HBRBodyBottom{
	margin: 15px 10px;
	color: #6aaf6e;
}
.HBRBodyBottom i{
	margin-right: 5px;
}
.HBRBodyBottom span{
	margin-right: 30px;
}
.HBRBody > hr{
	text-decoration-style: dashed;
}
.HBRImg{
	width: 100%;
}
.HBRCaption{
	font-size: 17px;
	font-weight: bold;
}
.HBRP1{
	font-weight: bold;
}
.HBRP2{
	color: #9a9b9f;
}
.HBRHr{
	border-top: 2px solid #c4c4c4;
	border-style: dashed;
}
.HBRRightBottom{
	border: 2px solid #ededed;
	border-radius: 5px;
	padding: 20px 30px;
	margin: 25px 0px;

}
/* end User */

/* start itineraries */
.IBreadcrumb{
	background: #fafafa;
	padding: 20px 10%;
}
.IBreadcrumb > a {
	display: inline-block;
	color: #676767;
	vertical-align: middle;
	margin-right: 30px;
	font-weight: bold;
}
.IBreadcrumb > a:hover{
	text-decoration: none;
	color: #989898;
}
.IntinerariesContent{
	padding: 20px 10%;
}
.ICInner{
	background: white;
	border-radius: 10px;
	padding: 40px 40px;
	line-height: 1;
	margin-right: 0;
	margin-left: 0;
}
.ICCaption{
	font-size: 20px;
	font-weight: bold;
}
.ICCaptionButton{
	color: white;
	background-color: #f7b432;
	padding: 5px 30px;
	border-radius: 5px;
	border: 0;
	font-weight: bold;
	/*font-size: 15px;*/
}
.ICCaptionButton:hover{
	background-color: #ffd075;
}
.ICSearch{
	margin-top: 20px;
}
.ICSIcon{
	color: #cdcdcd;
	font-size: 20px;
}
.ICSearch > .col-sm-3{
	padding: 0;
}
.ICSInput1{
	width: 35%;
	display: inline-block;
}
.ICSInput2{
	width: 55%;
	display: inline-block;
}
.ICSearch select{
	border-radius: 0;
	border-left: 0;
	border-right: 0;
	border-top: 0; 
	-webkit-box-shadow: none;
    box-shadow: none;
}
.ICSearch select option {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px !important;
}
/*.ICSearch select:focus{
	outline: none;
  	border: none !important;
  	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
}*/
.ICItem{
	box-shadow: 1px 1px 4px #888888;
	border-radius: 10px;
	margin-bottom: 30px;
}
.ICITop{
	background-image: url("../images/novotel.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: auto;
	/*min-height: 500px;*/
	padding: 0;
	color: white;
	position: relative;
	font-weight: 100;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-shadow: 0 0 2px black;
}
.ICITop1{
	padding: 10px 15px;
	height: 120px;
}
.ICITop2{
	padding: 5px 15px;
	background-color: rgba(0,0,0,0.3); 
	width: 100%;
}
.ICIBottom{
	padding: 10px 15px;
}
.ICIBLeft{
    color: orange;

}
.ICIBRight{
	font-size: 15px;
    color: orange;
    font-weight: bold;
}
.ICMore a{
	font-size: 18px;
	color: orange;
	font-weight: bold;
}
.ICMore{
	margin-top: 30px;
}
.ICMore a:hover{
	text-decoration: none;
	color: #ffd265;
}
/* end itineraries */